.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer-container {
  //display: flex;
  align-items: baseline;
  //text-align: center;
}

.footer-container-first {
  margin-right: 70px;
}

/* .footer-container-second {
  margin-right: 93px;
} */

.social-link-title {
  font-family: Roboto;
  font-style: 400;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--link-white-color);
}

/* .footer-social-list {
  display: flex;
  justify-content: center;
} */

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 200ms var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-list-icon {
  width: 20px;
  height: 20px;

  fill: var(--link-white-color);
}

@media screen and (max-width: 767px) {
  .footer-container-first {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    margin-right: 0;
  }

  .footer-container-second {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    margin-right: 0;
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
  }

  .footer-container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container-first {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    margin-right: 0;
  }

  .footer-container-second {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    margin-right: 0;
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .footer-container-second {
    margin-right: 93px;
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
  }
}
