.text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 10px;

  color: var(--title-color);
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;

  color: var(--link-grey-color);
}

.our-priorities-list-icon {
  /* display: block; */
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
}

.our-priorities-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 30px;
}

.priorities-items {
  margin-bottom: 30px;
}

//480+
@media screen and (min-width: 480px) {
  .project {
    /* display: block; */
    align-items: center;
  }

  .priorities-items {
    margin-bottom: 30px;
  }

  .our-priorities-list-icon {
    /* display: block; */
    width: 70px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
  }

  .our-priorities-icons-container {
    /* display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa; */
    width: 450px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

//768+
@media screen and (min-width: 768px) {
  .priorities-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .our-priorities-list-icon {
    display: flex;
  }

  .our-priorities-icons-container {
    width: 354px;
  }

  /* .project {
    margin-top: -30px;
    margin-left: -30px;
  } */

  /* .priorities-items {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
    outline: 1px solid red;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .priorities-items {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0;
  }

  .priorities-container {
    flex-wrap: wrap;
  }

  .project {
    margin-top: -30px;
    margin-left: -30px;
  }

  .letter-height {
    padding-bottom: 23px;
  }
}

/* .our-priorities-list-icon {
  display: flex;
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
} */

//1200+
@media screen and (min-width: 1200px) {
  .project {
    display: flex;
    align-items: center;
  }

  .priorities-items {
    margin-bottom: 0;
  }

  .priorities-items:not(:last-child) {
    margin-right: 30px;
  }

  .our-priorities-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .our-priorities-list-icon {
    display: flex;
    width: 70px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
  }
}
/* .project {
  display: block;
  align-items: center;
} */

/*.priorities-items:not(:last-child) {
  margin-right: 30px;
}

.our-priorities-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}*/
