.team-section {
  background-color: #f5f4fa;
  //display: flex;
  align-items: center;
}

//.team-items {
//display: flex;
//align-items: center;
//margin-left: -30px;
//}

.team-photo {
  //margin-left: 30px;
  //flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-position {
  background-color: var(--link-white-color);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-color);
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-grey-color);
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .team-social-list {
    display: flex;
    justify-content: center;
  }

  .team-photo:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-photo {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }

  .team-container {
    flex-wrap: wrap;
  }

  .team-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .team-section {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .team-items {
    display: flex;
    align-items: center;
    margin-left: -30px;
  }

  .team-photo {
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
  }
}
