:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --link-white-color: #ffffff;
  --link-grey-color: #757575;
  --footer-bg-color: #2f303a;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
